
.charts {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.chart {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 1200px) {
    .charts {
        flex-wrap: wrap;
    }

    .chart {
        width: 45%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .chart {
        width: 100%;
    }
}
