

.routes {
    color: #242d49;
    margin-top: 20px;

}
li {
    list-style-type: none;
}

.routes h3 {
    margin-bottom: 10px;
    text-align: center;
}

.routes ul {
    padding: 0;
}

.routes li {
    margin-bottom: 10px;
    padding: 10px;
    background: #ffcfcf;
    border: 1px solid #ee9565;
    border-radius: 5px;
    list-style-type: none;
}

.routes li::before {
    content: "•";
    color: coral;
    margin-right: 10px;
}

.routes li span {
    font-weight: bold;
}